/*********** Body ***************/
body {
  margin: 0;
  width: 100%;
  background-color: skyblue;
  font-family: 'Solway', serif;
}

/********** NAVIGATION **********/

.nav-bar {
  height: 100px;
  width: 100%;
  background-color: white;
  Position: fixed;
  margin: 0;
  padding: 0;
  top: 0%;
}

.logo{
  height: 100px;
}
.nav-list {
  float: right;
  padding-top: 20px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: x-large;
}
.list-item {
  height: 27px;
  width: 52px;
  display: inline-block;
  color: white;
  list-style-type: none;
  margin-right: 40px;
  padding: 3px;
  text-align: center;
  border: 2px gray;
  border-radius: 10px;
}
.list-item a {
  text-decoration: none;
  color: black;
}
li:hover {
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
}

li a:hover {
  color: #C1C6C7;
}


/* ****** END OF NAV ******** */

.main {
  height: 400px;
  width: 100%;
  background-image: url('../img/Beach-ball.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
} 

.box {
  margin-top: 30px;
  float: left;
}

.alpha {
  margin-left: 30%;
}

.beta {
  margin-left: 35%;
  margin-top: -51px;
}

h1 {
  font-size: 57px;
  padding: 20px;
}

h2 {
  font-size: 39px;
}

/******END OF MAIN*******/

.home-section {
  height: 600px;
  width: 100%;
}

.col {
  height: 500px;
  width: 30%;
  border: skyblue 3px solid;
  float: left;
  margin-left: 13px;
  margin-top: 10px;
  display: block;
}

.flamingo {
  width: 90%;
  height: 439px;
  margin: auto;
  padding: 21px;
}

.sec-text p {
  text-align: center;
  margin: 100px 20px 0px 20px;
}

.boys-pool {
  width: 90%;
  margin: auto;
  padding: 10px;
}

.girls-pool {
  width: 90%;
  margin: auto;
  padding: 10px;

}
/* *******END OF SECTION ******** */

/* ******** ABOUT SECTION ******* */

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Calistoga&display=swap');

.about-main {
    height: 800px;
    width: 100%;
    margin-top: 100px;
}
.about-section {
    height: 700px;
    width: 30%;
    float: left;
    border: 1px solid skyblue;
    margin-left: 2%;
    font-size: 30px;
}

.about-section p {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 10px;
    
}

.about-image {
    display: block;
    width: 90%;
    border: black 3px solid;
    float: left;
    margin: auto;
    margin-top: 20px;
}

/* SECIONT AUDIO */

.about-audio {
    display: block;
    margin: auto;
    margin-top: 20px;
}

/* SECTION VIDEO */
.about-section iframe {
    display: block;
    width: 100%;
    border: black 3px solid;
    float: left;
    margin: auto;
    margin-top: 20px;
}

/* ***START OF CONTACT SECTION ****** */

.contact-sec {
  width: 40%;
  height: 400px;
  float: left;
  margin: auto;
  margin-top: 8%;
  padding: 50px;
}

.button-input, .social, .copy {
  width: 33%;
  float: left;
  margin: auto;
}

.button-input, .social {
  /* margin-top: 44px; */
}

button {
  padding: 7px;
  border-radius: 4px;

}

.fab {
   font-size: 2ems;
   padding-top: 10px;
   color: white;
}

input { 
   height: 10px;
   width: 200px;
}


.copy {
  margin-top: 0px;
  color: white;
}

/* ********** Footer ************* */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: skyblue;
  text-align: center;
  font-size: large;
}